include test_viasp_dash/viasp_dash.min.js
include test_viasp_dash/viasp_dash.min.js.map
include test_viasp_dash/async-*.js
include test_viasp_dash/async-*.js.map
include test_viasp_dash/*-shared.js
include test_viasp_dash/*-shared.js.map
include test_viasp_dash/metadata.json
include test_viasp_dash/package-info.json
include README.md
include LICENSE
include package.json
